<style>
    .beta-badge {
    position: absolute;
    left: -7px;
    top: 19px;
    background-color: #ec4949;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    text-align: center;
    color: white;
    padding: 0 .5em;
    border-top: 0px;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
    border: 0px
  }  
  .beta-badge:after {
      content: ' ';
      position: absolute;
      right: -24px;
      top: 0px;
      border-right: 25px solid transparent;
      border-bottom: 24px solid #ec4949;
  }
  .beta-badge:before {
      content: ' ';
      position: absolute;
      left: -24px;
      top: 0px;
      border-left: 25px solid transparent;
      border-bottom: 24px solid #ec4949;
  }

  </style>
