Tovertypen.nl wordt mede <br /> 
mogelijk gemaakt door:<br />
<ul>
<li><a href="https://www.digitalefitheid.nl/">Digitale fitheid</a> </li>
<li><a href=" https://martijnaslander.nl/">Martijn Aslander</a></li>
<li><a href=" https://hermankopinga.nl">Herman Kopinga</a></li>
<li><a href="https://jplattel.nl/">Joost Plattel</a></li>
<li><a href="https://davidbakker.nl/">David Bakker</a></li>
<li>Anja Wassenaar</li>
</ul>

Ook bijdragen aan tovertypen.nl? <br />
Heel fijn, kijk <a href="bijdragen.md">hier</a>.
